body,
h1,
h2,
h3,
h4,
h6 {
    font-family: 'Poppins', sans-serif;
    transition: all ease 0.3s;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    text-align: justify;
}

.w3-bar,
h1,
button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: bolder;
}

